# **Pandas**
___

In [ ]:
# instalar las librerias para este jupyter
! pip install pandas

In [1]:
# imports para trabajar con Series
import pandas as pd

### Series

In [2]:
# crear una serie
obj = pd.Series([7, 2, 8, 3, 9, 4])

In [3]:
# imprimir la serie con sus posiciones
obj

0    7
1    2
2    8
3    3
4    9
5    4
dtype: int64

* Operaciones bÃ¡sicas con Series

In [43]:
# ver los valores del objeto series
obj.values

array([7, 2, 8, 3, 9, 4], dtype=int64)

In [21]:
# ver el comienzo, el fin y de cuanto avanza
obj.index

RangeIndex(start=0, stop=6, step=1)

In [22]:
# cambiar los indices de la estructura
obj2 = pd.Series([7, 2, 8, 3, 9, 4], index=['a', 'b', 'c', 'd', 'e', 'f'])

In [23]:
obj2

a    7
b    2
c    8
d    3
e    9
f    4
dtype: int64

In [24]:
# para acceder a un valor de la serie
obj2['a']

7

In [25]:
# seleccionar varios valores de la serie
obj2[['a', 'b', 'c']]

a    7
b    2
c    8
dtype: int64

In [26]:
# seleccionar valores por varios criterios
obj2[obj2 >= 7]

a    7
c    8
e    9
dtype: int64

In [27]:
obj3 = pd.Series([8, 2, 9, 4, "hola"])

In [28]:
# se pueden aplicar operaciones a toda la serie
obj3 * 2

0          16
1           4
2          18
3           8
4    holahola
dtype: object

In [29]:
# otra manera de crear Series es con diccionarios
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [30]:
obj4 = pd.Series(sdata)

In [31]:
obj4

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [32]:
# otra manera de crear Series modificando los indices es con una lista
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [33]:
obj5 = pd.Series(sdata, index=states)

In [34]:
obj5

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [35]:
# para ver cuales campos no tienen nada (NaN) -> True si esta vacio
pd.isnull(obj5)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [36]:
# otra manera para ver cuales campos no tiene nada (NaN) -> False si esta vacio
pd.notnull(obj5)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [37]:
# o llamando desde el objeto
obj5.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [38]:
# los indices que sean en comun, suma los campos que compartan, si no agrega NaN
obj5 + obj5

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
dtype: float64

In [39]:
# los indices que sean en comun, suma los campos que compartan, si no agrega NaN
obj3 + obj5

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
California    NaN
Ohio          NaN
Oregon        NaN
Texas         NaN
dtype: object

In [40]:
# para ponerle nombre al objeto Series y nombre a los indices
obj5.name = 'poblacion'
obj5.index.name = 'estado'

In [41]:
obj5

estado
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: poblacion, dtype: float64